/* 
  You may customize the extension styling here. Try small changes and then reload the stylesheet from the extension UI to verify.
  Note: Gnome Shell uses its own CSS parser, many browser CSS properties are not supported.
*/

.extension-grid-wrapper {
  border-radius: 20px;
  overflow: hidden;
}

.mainbox-color-gradient {
  
  background-image: url(media/tablet.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-color: rgba(255, 255, 255, 0.45);
  border-width: 2px;
  border-radius: 20px;
  padding: 1.92em 1.92em;
  
}

.mainbox-grey-gradient {
  background-image: url(media/darkmode.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-color: rgba(255, 255, 255, 0.45); 
  border-width: 2px;
  border-radius: 20px;
  padding: 1.92em 1.92em;
  /* -st-background-image-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.3); */
}

.mainbox-bg-crop {
  border-color: rgba(255, 255, 255, 0.45); 
  border-width: 3px;
  border-radius: 15px;
  padding: 1.92em 1.92em;
  /* background-color: rgba(60, 60, 60, 0.3); */
  /* -st-background-image-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.3); */
}

.mainbox-bg-blur, .mainbox-dynamic-blur {
  border-color: rgba(230, 230, 230, 0.85); 
  border-width: 4px;
  border-radius: 15px;
  padding: 1.92em 1.92em;
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* -st-background-image-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.3); */
}

.mainbox-gradient-dark {
  /* -st-background-image-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5); */
  background-color: rgba(50, 50, 50, 0.2);
}
.mainbox-gradient-light {
  /* -st-background-image-shadow: 0px 5px 0px rgba(255, 255, 255, 0.5); */
  background-color: rgba(255, 255, 255, 0.2);
}
.mainbox-crop-dark, .mainbox-blur-dark {
  box-shadow: 0px 2px 30px -1px rgba(0,0,0,0.25);
}
.mainbox-crop-light, .mainbox-blur-light {
  box-shadow: 0px 4px 25px -1px rgba(225,225,225,0.15);
}

.bg-widget {
  /* box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3); */
  /* border-color: rgba(0, 0, 255, 0.9); 
  border-radius: 25px; 
  border-width: 3px; */
  
}

.extension-window-header {
  border-color: rgba(255, 255, 255, 0.45);
  border-width: 1px; 
  border-radius: 1.25em;
  background-color: rgba(255, 255, 255, 0.16);
  padding: 0.5em 0.7em 0.5em 0.7em;
  margin-top: 0.25em;
}
.extension-window-header-bgcrop {
  border-radius: 0.4em;
}

.extension-about-label {
  font-weight: normal;
  font-size: large;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 0px 0px 0px;
}

.extension-about-button {
  border-radius: 0.85em; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: 0px 2px 2px 2px;
  color: rgba(255, 255, 255, 0.9);
  /* margin-right: 8px; */
}

.extension-ego-label {
  font-weight: normal;
  font-size: large;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 0px 0px 0px;
}

.extension-ego-button {
  border-radius: 0.85em; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: -2px 2px 2px 2px;
  color: rgba(255, 255, 255, 0.9);
  /* margin-right: 8px; */
}


.hotkey-entry {
  width: 5.8em;
  /* height: 0.4em; */
}

.indicator-switch {
  padding: 2px 2px;
  border-radius: 0.5em; 
  border-width: 1px;
}
 

.extension-title-label {
  color: rgba(255, 255, 255, 0.95);
  font-weight: 525;
  font-size: large;
  font-family: serif;
  padding: 4px 0px 4px 16px;
  letter-spacing: 5px;
  text-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.1);
  margin-left: 10em;
  margin-right: 10em;
  border-radius: 0.5em;
}
.extension-title-label:hover, .extension-title-label:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.04);
}

.ext-app-icon {
  width: 1.6em;
  height: 1.6em;
}
.ext-app-button {
  border-radius: 0.85em; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: 2px 6px;
  margin-left: 6px;
  margin-right: 6px;
  color: rgba(255, 255, 255, 0.9);
} 

.all-state-button {
  border-radius: 10px; 
  /* border-width: 2px;
  border-color: #7e7c68; */
  padding: 4px 4px;
  color: white;
} 
.all-state-button:hover, .all-state-button:focus {
  /*padding: 6px 5px;*/
   box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.all-state-switch {
  width: 2.4em;
  height: 1.4em;
}

.settings-icon {
  /* size: 1rem; */
  width: 1.65em;
  height: 1.65em;
  margin: 0px 4px;
}
.settings-button {
  border-radius: 0.75em; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: 3px 3px !important;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 6px;
  margin-right: 6px;
}

.font-down-button {
  font-weight: 800;
  font-size: large;
  border-radius: 0.5em; 
  /* border-width: 1px;
  border-color: white; */
  padding: 0em 0.55em;
  margin-left: 1.75em;
}
.font-up-button {
  font-weight: 800;
  font-size: large;
  border-radius: 0.5em; 
  /* border-width: 1px;
  border-color: white; */
  padding: 0em 0.45em;
  margin-left: 0.35em;
}
.extension-mode-label {
  font-weight: 800;
  font-size: large;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 0px 0px 0px;
}

.extension-mode-button {
  border-radius: 0.85em; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: 2px 2px 2px 2px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0.1em;
  /* margin-left: 6px; */
}

.indicator-switch:hover, .indicator-switch:focus,
.font-up-button:hover, .font-up-button:focus,
.font-down-button:hover, .font-down-button:focus,
.extension-mode-button:hover, .extension-mode-button:focus,
.extension-about-button:hover, .extension-about-button:focus,
.extension-ego-button:hover, .extension-ego-button:focus,
.ext-app-button:hover, .ext-app-button:focus,
.settings-button:hover, .settings-button:focus,
.settings-button-container:hover, .settings-button-container:focus {
  /* border-color: white; */
  color: rgb(255, 255, 255);
  /* border: 1px solid;
  border-color: #fff #0000 #fff #0000; */
  box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.2);
}


.extension-box {
  color: white;
  border-radius: 0.85em; 
  /* border-width: 2px;
  border-color: #7e7c68; */
  /* padding: 2px 0px 2px 0px; */
  background-color: transparent;
  /* margin: 0.1em 0.45em 0.1em 0.45em; */
}
.extension-box:hover, .extension-box:focus {
  padding: 0px 0px 0px 0px;
}

.extension-button-box {
  border-radius: 0.85em; 
  /* border-width: 2px;
  border-color: #7e7c68; */
}

.extension-name-button:hover, .extension-name-button:focus
 {
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.75);
  /* background-color: rgba(255, 255, 255, 0.35); */
  font-weight: normal;
  background-image: url(media/label.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: none;
  /* color: rgba(20, 20, 20, 1.0); */
  margin: 0px 0px;
}

.extension-name-button {
  border-radius: 0.95em; 
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.35);
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.05);
  /* background-image: url(media/label.svg);
  background-repeat: no-repeat;
  background-size: cover; */
  /* -st-background-image-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2); */
  /* margin-left: 10px;
  margin-right: 5px; */
  color: rgba(255, 255, 255, 1.0);
  padding: 5px 5px;
  /* font-size: 1.45em; */
  margin: 2px 1px 0px 1px;
}

.extension-name-button-bgcrop {
  border-radius: 0.4em;
  box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.02);
}

.extension-name-label {
  font-weight: light;
  /* font-size: 1.45em; */
  /* font-family: 'Open Sans', sans-serif; */
  white-space: normal;
  text-align: center;
  padding: 5px 5px;
}

.extension-name-button-update {
  
  /* color: rgb(192, 32, 255); */
  background-color: rgba(10, 250, 250, 0.15);
}
.extension-name-button-update:hover, .extension-name-button-update:focus {
  color: rgb(0, 255, 255);
  background-image: url(media/label_update.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.extension-name-button-update-msg {
  font-weight: lighter;
  font-size: small;
}

.extension-name-button-error {
  
  /* color: rgb(216, 86, 0);  */
  background-color: rgba(253, 82, 82, 0.15);
}
.extension-name-button-error:hover, .extension-name-button-error:focus {
  color: rgb(201, 0, 0);
  background-image: url(media/label_error.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.extension-name-button-error-msg {
  font-weight: lighter;
  font-size: small;
}

.extension-pref-icon {
  width: 1.7em;
  height: 1.7em;
}
.extension-pref-button {
  border-radius: 0.85em; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: 2px 5px;
  margin-left: 2px;
  margin-right: 6px;
}

.extension-pref-button:hover, .extension-pref-button:focus
 {
  /*border-color: white;*/
  color: white;
  box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.3);
}

.extension-pref-button-disabled {
  border-radius: 0.85em; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: 2px 5px;
  margin-left: 2px;
  margin-right: 6px;
  color: #8d8c8c;
  opacity: 0.5;
}
.extension-pref-button-disabled:hover, .extension-pref-button-disabled:focus {
  /*border-color: #8d8c8c;*/
  box-shadow: 0px 0px 1px 0px rgba(125, 125, 125, 0.3);
}

.reload-style-label {
  padding: 0px 0px; 
  font-size: large;
  font-weight: normal;
}
.reload-style-button {
  border-radius: 0.85em; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: 0px 0px; 
  margin-top: 3px;
}
.reload-style-button:hover, .reload-style-button:focus
 {
  /*border-color: white;*/
  color: white;
  box-shadow: 0px 0px 1px -2px rgba(255, 255, 255, 0.3);
}


.extension-state-button {
  border-radius: 0.85em; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: 1px 3px;
  margin-left: 8px;
}
.extension-state-button:hover, .extension-state-button:focus
 {
  /*border-color: white;*/
  color: white;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.3);
}

.extension-state-switch
 {
  border-color: white;
 }
.extension-state-switch:hover, .extension-state-switch:focus
 {
  border-width: 1px;
  border-color: black; 
}

.extension-window-scroll {
  /* margin: 2px 30px 0px 30px; */
  /* padding-bottom: 25px; */
   /* border-width: 1px; */
  /*border-color: black;  */
}

.grid-viewport {
  /* padding: 0.2em 0.25em 0.2em 0.25em; */
  margin: 1em 1em 0em 1em;
  /* border-width: 1px;
  border-color: red;  */
}


.page-switcher {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 999px;

  margin-top: 0.4em;
  spacing: 0.3em;
  padding: 0.4em 0.8em;
}

.pg-switcher-indicator {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.2em 0.2em;
  margin: 0.3em;
  border-radius: 1em;
}
.pg-switcher-indicator-active  {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0.2em 1.0em;
  margin: 0.3em;
}




