/* 
  You may customize the extension styling here. Try small changes and then reload the stylesheet from the extension UI to verify.
  Note: Gnome Shell uses its own CSS parser, many browser CSS properties are not supported.
*/

.extension-grid-wrapper {
  /* background-image: url(media/darkmode.svg);
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-color: rgba(255, 255, 255, 0.6);  */
  /* border-color: rgba(255, 255, 255, 0.6);
  border-width: 6px;
  border-radius: 10px !important; */
  /* overflow: clip; */
}

.mainbox-color-gradient {
  
  background-image: url(media/tablet.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 3px;
  border-radius: 15px;
  padding: 30px 30px;
  
}

.mainbox-grey-gradient {
  background-image: url(media/darkmode.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-color: rgba(255, 255, 255, 0.5); 
  border-width: 3px;
  border-radius: 15px;
  padding: 30px 30px;
  /* -st-background-image-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.3); */
}

.mainbox-bg-crop {
  border-color: rgba(255, 255, 255, 0.5); 
  border-width: 3px;
  border-radius: 15px;
  padding: 30px 30px;
  /* background-color: rgba(60, 60, 60, 0.3); */
  /* -st-background-image-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.3); */
}

.mainbox-bg-blur, .mainbox-dynamic-blur {
  border-color: rgba(225, 225, 225, 0.95); 
  border-width:4px;
  border-radius: 12px;
  padding: 30px 30px;
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* -st-background-image-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.3); */
}

.mainbox-gradient-dark {
  /* -st-background-image-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.15); */
  background-color: rgba(50, 50, 50, 0.4);
}
.mainbox-gradient-light {
  /* -st-background-image-shadow: 0px 5px 0px rgba(255, 255, 255, 0.15); */
  background-color: rgba(255, 255, 255, 0.2);
}
.mainbox-crop-dark, .mainbox-blur-dark {
  box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.3);
}
.mainbox-crop-light, .mainbox-blur-light {
  box-shadow: 0px 4px 20px 0px rgba(225,225,225,0.15);
}

.bg-widget {
  /* box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3); */
}

.extension-window-header {
  border-color: rgba(255, 255, 255, 0.45);
  border-width: 1px; 
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.18);
  padding: 8px 12px 8px 12px;
}

.extension-about-label {
  font-weight: 900;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 0px 0px 0px;
}

.extension-about-button {
  border-radius: 10px; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: 0px 2px 2px 2px;
  color: rgba(255, 255, 255, 0.9);
  margin-right: 8px;
}

.extension-ego-label {
  font-weight: 500;
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 0px 0px 0px;
}

.extension-ego-button {
  border-radius: 10px; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: 0px 2px 5px 2px;
  color: rgba(255, 255, 255, 0.9);
  margin-right: 8px;
}

.extension-title-label {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 525;
  font-size: 24px;
  font-family: serif;
  padding: 0px 0px;
  letter-spacing: 5px;
  text-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.1);
}
.extension-title-label:hover {
  color: rgba(255, 255, 255, 1);
}

.ext-app-button {
  border-radius: 10px; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: 2px 8px;
  margin-right: 6px;
  color: rgba(255, 255, 255, 0.9);
} 

.all-state-button {
  /* border-radius: 10px; 
  border-width: 2px;
  border-color: #7e7c68; */
  padding: 8px 8px;
  color: white;
} 
.all-state-button:hover {
  padding: 6px 8px;
}
.all-state-switch:hover {
  border: 5px solid #000;
}

.settings-button-container {
  border-radius: 10px; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: 2px 3px !important;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 4px;
}

.extension-mode-label {
  font-weight: 800;
  font-size: 21px;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 0px 0px 0px;
}

.extension-mode-button {
  border-radius: 10px; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: 0px 2px 2px 2px;
  color: rgba(255, 255, 255, 0.9);
  /* margin-right: 6px; */
  margin-left: 6px;
}

.extension-mode-button:hover, .extension-mode-button:focus,
.extension-about-button:hover, .extension-about-button:focus,
.extension-ego-button:hover, .extension-ego-button:focus,
.ext-app-button:hover, .ext-app-button:focus, 
.settings-button:hover, .settings-button:focus,
.settings-button-container:hover, .settings-button-container:focus {
  /* border-color: white; */
  color: rgb(255, 255, 255);
  /* border: 1px solid;
  border-color: #fff #0000 #fff #0000; */
  box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.extension-box {
  color: white;
  border-radius: 10px; 
  /* border-width: 2px;
  border-color: #7e7c68; */
  /* padding: 2px 0px 2px 0px; */
  background-color: transparent;
}
.extension-box:hover, .extension-box:focus {
  padding: 0px 0px 0px 0px;
  transform: scale(1.2);
}

.extension-button-box {
  border-radius: 10px; 
  /* border-width: 2px;
  border-color: #7e7c68; */
}

.extension-name-button:hover, .extension-name-button:focus
 {
  border-color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  color: rgba(30, 30, 30, 1.0);
}

.extension-name-button {
  border-radius: 15px; 
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.6);
  background-image: url(media/label.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* -st-background-image-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2); */
  margin-left: 10px;
  margin-right: 5px;
  color: rgba(255, 255, 255, 1.0);
  padding: 5px 5px;
  font-size: 20px;
}

.extension-name-label {
  font-weight: 550;
  /* font-size: 1.45em; */
  font-family: 'Open Sans', sans-serif;
  white-space: normal;
  text-align: center;
  padding: 5px 5px;
}

.extension-name-button-update {
  background-image: url(media/label_update.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* color: rgb(192, 32, 255); */
}
.extension-name-button-update:hover, .extension-name-button-update:focus {
  color: rgb(143, 2, 199);
}
.extension-name-button-update-msg {
  font-weight: 250;
  font-size: 15px;
}

.extension-name-button-error {
  background-image: url(media/label_error.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* color: rgb(216, 86, 0);  */
}
.extension-name-button-error:hover, .extension-name-button-error:focus {
  color: rgb(194, 0, 0);
}
.extension-name-button-error-msg {
  font-weight: 200;
  font-size: 15px;
}

.extension-pref-button {
  border-radius: 10px; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: 2px 5px;
  margin-top: 2px;
  margin-bottom: 6px;
}

.extension-pref-button:hover, .extension-pref-button:focus
 {
  border-color: white;
  color: white;
}

.extension-pref-button-disabled {
  border-radius: 10px; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: 2px 5px;
  margin-top: 0px;
  margin-bottom: 6px;
  color: #8d8c8c;
  opacity: 0.5;
}
.extension-pref-button-disabled:hover, .extension-pref-button-disabled:focus {
  border-color: #8d8c8c;
}

.reload-style-button {
  border-radius: 10px; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: -2px -2px;
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 500;
}
.reload-style-button:hover, .reload-style-button:focus
 {
  border-color: white;
  color: white;
}


.extension-state-button {
  border-radius: 10px; 
  border-width: 2px;
  /* border-color: #7e7c68; */
  padding: 1px 3px;
}
.extension-state-button:hover, .extension-state-button:focus
 {
  border-color: white;
  color: white;
}

.extension-state-switch
 {
  border-color: white;
 }
.extension-state-switch:hover, .extension-state-switch:focus
 {
  border-width: 1px;
  border-color: black; 
}

.extension-window-scroll {
  margin: 2px 30px 0px 30px;
  /* padding-bottom: 25px; */
  /* border-width: 1px;
  border-color: black;  */
}

.grid-viewport {
  padding: 5px 4px 10px 10px;
}



